:root {
  --fs-base: 16px;
  --fs-heading: 25px;
  --fw-900: 700;
  --fw-600: 500;
  --fw-400: 400;
  --clr-bg: #e7f5e0;
  --clr-bg-card: #cec9c9;
  --clr-bg-primary: #6aa96c;
  --clr-bg-card-cnt: #d9d8d8;
  --button-color-secondary: #4d504A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.hidden {
  display: none;
}



.gif-area {
  min-height: 80vh;
  position: relative;
  width: 100%;
  position: relative;


  background: url('../images/bg-gif.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: contain;
  background-size: cover;
}

.wrapper {
  width: 90vw;
  margin-inline: auto;

}

.wrapper .grid_layout {
  display: grid;
  /* position: relative; */
  grid-template-columns: repeat(12, 1fr);

  padding: 1rem;
  /* opacity: 1; */



}

.wrapper .grid_layout .nav__links:not(.hidden) {
  grid-column: 4/10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper .grid_layout .nav__links-mobl {
  display: none;
  grid-template-columns: 1fr;
  position: absolute;
  top: 10svh;
  width: 100%;
  background: gray;
  left: 0;
  padding: 1rem 0;
  text-align: center;
}

.wrapper .grid_layout .nav__links-mobl>a {
  list-style-type: none;
  /* font-family: 'Lohit Devanagari', serif;  */
  /* margin: 0; */
  text-decoration: none;
  color: white;
  margin-block: 0.26rem;

}

.wrapper .grid_layout .nav__links>a:hover {
  color: gainsboro;
}

.wrapper .grid_layout .nav__links-mobl div button {
  border-radius: 6px;
  border: thin;
  margin-block: 0.3rem;
}

.wrapper .grid_layout .nav__links ul {
  display: flex;
  list-style: none;
}

.wrapper .grid_layout .nav__links ul li a {
  text-decoration: none;
  font-size: var(--fs-base);
  color: white;
  margin-inline: 1rem;

}

.wrapper .grid_layout .nav__links ul li a:hover {
  color: rgb(128, 198, 236);
  transform: scale(1.1);

}

.cross {
  display: none;
  grid-column: 11/12;
}

.cross .top,
.middle,
.bottom {
  width: 20px;
  height: 2.5px;
  background: #000;
  transition: all 0.2s ease-in;
}

.middle {
  margin-top: 2.5px;
}

.bottom {
  margin-top: 3px;
  /* height:1.5px; */
}

.middle-active {
  display: none;
}

.top-active {
  transform: rotate(45deg);
  transform-origin: 6px center;
}

.bottom-active {
  transform: rotate(-45deg);
  transform-origin: 7px 3px;
}

.cross {
  grid-column: 12/12;
  margin-top: 10px;
}

/* .cross{
 display: none; 
} */
.wrapper .grid_layout .nav__button:not(.hidden) {
  grid-column: 11/12;
}

.wrapper .grid_layout .nav__button button {
  padding: 2px 25px;

  /* border: none; */
  background: transparent;
  border: thin solid black;
  color: white;
  cursor: pointer;

  /* overflow: hidden; */
  outline: none;
  border-radius: 7%;
}

.wrapper .grid_layout .nav__button button:hover {
  color: rgba(255, 255, 255, 1);
  /* background: #98c4c4; */
  box-shadow: 0 5px 15px rgba(7, 168, 255, 0.4);
  transform: scale(1.1);
}


.hero {
  display: grid;
  margin-block: 4rem;
  padding: 1rem;
  /* border: 1px solid green; */
  /* min-height: 20rem; */
  grid-template-columns: repeat(12, 1fr);
  /* border: 2px solid red;/ */
  align-content: center;
  justify-self: center;
}

.hero .hero__content {
  grid-column: 1/4;
  color: white;

}

.hero .hero__content>p {

  margin-block-end: 1rem;
  margin-block-start: 0;
}

.hero .hero__content a button {
  padding: 2px 35px;
  align-self: center;
  margin-inline: 3rem;
  border-radius: 5px;
  outline: none;
  border: thin;
}


.hero .hero__content a button:hover {
  color: rgb(20, 19, 19);
  /* background: #98c4c4; */
  box-shadow: 0 5px 15px rgba(7, 168, 255, 0.4);
  transform: scale(1.1);
}

.hero .hero__notice {
  grid-column: 9/12;
  color: white;
  /* border: 2px solid grey; */
  padding: 5px;
  width: clamp(100%, 80%, 60%);
  /* display: grid; */
  min-height: clamp(15rem, 8rem, 4rem);
  background-image: url('../images/Rectangle\ 4-2.png');
  border-radius: 5%;
}

.hero .hero__notice h2 {
  color: black;
  text-align: center;
  margin-block-end: 0.5rem;

}

.hero .hero__notice .notice__card {
  width: 95%;
  margin-inline: auto;
  margin-block: 0.4rem;
  padding: 2px;
  border-radius: 5px;
  z-index: 1;
  background: var(--clr-bg-card-cnt);
  background-repeat: no-repeat;
  /* object-fit: contain; */
  color: black;
}

footer {
  background-color: #6aa96c;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-content {

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1 1 300px;
  padding: 10px;
  margin: 10px 0;
}

.footer-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 14px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 20px;
  font-size: 12px;
}

.table {
  margin-block: 2rem;
}

.seed_detail-info table {
  width: 100%;
  border-collapse: collapse;
}



.seed_detail-info table th {
  background: #333;
  color: white;
  font-weight: bold;
}

.seed_detail-info table td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

.imgarea {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  object-fit: cover;
  object-position: center;
  background-size: 100% 100%;
  background-color: var(--clr-bg-card);
}

.imgarea img {
  width: 10rem
}

.seed__detail {
  background-color: #BFD9AE;
  min-height: 26svh;
  margin-top: -8vh;
  border-radius: 10px;
  width: 70%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;

}

.seed__detail-card {
  grid-column: 1/9;
}

.seed_detail-info {
  border-left: 1px solid rgb(255, 255, 255);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  grid-column: 9/13;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 0;
}

.heading {
  color: green;
  padding: 0;
}

.seed-table {
  border-collapse: collapse;
  width: 100%;
}

.seed-table td,
.seed-table th {

  text-align: left;
  padding: 2px;
}


/* 
community post

*/
.community {
  --clr-bg-this: #D9D9D9;
  height: 80%;
  margin-top: 1rem;

}

.community .left {
  padding: 2rem;
  /* background-color: #fdfdfd; */
}

.left .post_image {
  /* background: var(--clr-bg-this) ; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.left .post_image .post_left {
  grid-column: 1/9;
}

.left .post_image>div {
  background-color: var(--clr-bg-this);
}

.left .post_image .community__right {
  padding: 0.5rem;
  overflow-y: auto;

}

.left .post_image .community__right p {
  font-size: 18px;
  font-weight: 600;
}

.left .post_image .community__right .comment {
  padding: 2rem;
}

.comment__buttons {
  float: right;
}

.font-red {
  color: red;
}

.all_commentss {
  display: flex;
  width: 100%;
  gap: 0.8rem;
  margin-block: 1rem;
}

.left .img-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left .details {
  width: 95%;
  margin-block: 0.8rem;
  margin-inline-start: 0.5rem;
}

.community .community__right {
  background: var(--clr-bg-this);
  padding: 1rem;
  height: inherit;
  grid-column: 9/13;
}

.scroll {
  overflow-y: auto;
  height: 31vh;
}

/* community post */
.marktetplace {
  padding: 2rem;
  width: 80%;
  margin-inline: auto;

}

.marktetplace .marketplace__grid {
  display: grid;
  gap: 1rem;
  /* margin: 1rem; */
  margin-block: 1rem;
  /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
  /* grid-template-columns: minmax(15rem, 1fr) minmax(15rem, 1fr) minmax(15rem, 1fr) minmax(15rem, 1fr) ; */
grid-template-columns: repeat(4, 1fr);


}

.marktetplace .marketplace__grid>* {
  /* min-width: 8rem; */
  background: var(--clr-bg-card);
  /* margin: 1rem; */
  /* border: 2px solid red; */
  height: 20rem;
  width: 14rem;
  /* padding: 0.3rem; */
  border-radius: 2vw;
}
.marktetplace .marketplace__grid>*:hover{
  transform: scale(1.05);
}

.truncate-text {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  color: blue;

}

.full-text {
  white-space: normal;
}

.search form input {
  border: 1px solid gray;
  outline: none;
  padding: 0.4rem 3rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.search form button {
  outline: none;
  border: thick;
  color: white;
  padding: 0.2rem 2rem;
  background-color: #6aa96c;
  border-radius: 0.5rem;
}

/* product page */
.product-grid {
  min-height: 60vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.product-grid .desc {
  grid-column: 7/12;
  padding: 3rem 1rem;
  display: grid;
  place-items: center;

}

.product-grid .desc  {
  background-color: #f2f2f2;
  padding: 1rem;
}

.next-btn,
.prev-btn {
  cursor: pointer;
  background: #000;
  color: white;
  border: thin;
  width: 10rem;
  margin-block: 1rem;
}

.right {
  grid-column: 1/7;

  /* height: 30vh; */
  overflow: hidden;
}

.img-section img {
  /* width: 50%; */
  /* height: 60vh; */
  display: none;
}


.desc .quantitiy #qnty {
  width: 4vw;
  -moz-appearance: textfield;
  text-align: center;
}

#qnty::-webkit-inner-spin-button,
#qnty::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.buttons center>button {
  padding: 0.5rem 3rem;
  border: thin;
  border-radius: 10px;
  cursor: pointer;
}

#add {
  /* padding: 0.rem; */
  border: thin;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
}

#sub {
  border: thin;
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;
}



.seed__grid >*{
  /* width: 100%; */
  display: grid;

  place-items: center;
  align-items: center;
}
.seed__grid a {
  text-decoration: none;
  color: black;
  
  min-height: 140px;
}

.seed__grid a div div {
  /* width: 11vw; */
  /* min-width: 200px; */
  border-radius: 5px;
  height: 200px;
  min-height: 200px;
  background: var(--clr-bg-card);
  cursor: pointer;
  margin-inline: auto;


}

.seed__grid a>div:hover {
  transform: scale(1.1);
}


.seed__grid a div {
  width: 13.5vw;
  /* min-width: 140px;
  min-height: 140px; */
  margin-block-end: 1.5rem;
  border-radius: 5px;

  overflow: hidden;

  image-rendering: optimizeQuality;
}





.wrapper .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.wrapper .heading button {
  background-color: var(--button-color-secondary);
  outline: none;
  border: thick;
  padding-inline: 0.5rem;
  border-radius: 5px;
  color: white;
}

.seed__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
  padding: 1rem 0;
  gap: 10px;
  align-items: start;
  justify-content: baseline;
  /* justify-content: center; */
  margin-inline: auto;

}


.presticides__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 5fr));
  padding: 1rem 0;
  gap: 10px;
  

}

.presticides__grid a {
  text-decoration: none;
  color: black;
  width: 12vw;
  min-width: 140px;
  min-height: 140px;
}

.presticides__grid a div>div {
  width: 11vw;
  min-width: 150px;
  border-radius: 5px;
  height: 10vw;
  min-height: 150px;
  background: var(--clr-bg-card);
  cursor: pointer;
  margin-inline: auto;
  overflow: hidden;

}

.presticides__grid a div div {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.presticides__grid a div div img {
  max-width: 80%;

}

.presticides__grid a>div:hover {
  transform: scale(1.1);
}


.presticides__grid a>div {
  width: 12vw;
  min-width: 140px;
  min-height: 140px;
  margin-block-end: 1.5rem;
  border-radius: 5px;

}

.expert-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 5fr));
  padding: 1rem 0;
  gap: 10px;

}

.expert-grid .expert-grid__card {
  width: 11vw;
  min-width: 150px;
  border-radius: 5px;
  height: 10vw;
  min-height: 150px;
  background: var(--clr-bg-card);
  cursor: pointer;
  margin-inline: auto;

}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62vh;
}

.card-wrapper    .form-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px;
}

.card-wrapper .form-card form  label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

.card-wrapper .form-card form  input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.card-wrapper .form-card form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-wrapper .form-card  form button:hover {
  background-color: #45a049;
}




@media screen and (max-width:1080px) {

  .marktetplace .marketplace__grid {
    margin-block: 1rem;
    display: grid;
    gap: 1rem;
    /* margin: 1rem; */
    /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
    /* grid-template-columns: minmax(15rem, 1fr) minmax(15rem, 1fr) minmax(15rem, 1fr) minmax(15rem, 1fr) ; */
  grid-template-columns: repeat(3, 1fr);
  
  }
 
  .seed__grid a div {
    text-decoration: none;
    color: black;
    min-width: 160px;
    min-height: 50px;
     /* 2px solid red; */

  }
  
  .seed__detail-card {
    margin-block: 1rem;
  }

  .seed__detail .seed_detail-info {
    margin-block: 1re;
    margin-inline: 1re;
  }
  .seed__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .desc div >*{
    margin-block: 1rem;
  }



  .wrapper .grid_layout .nav__links ul li a {
    margin-inline: 0.56rem;

  }

  .search form input {
    padding: 0.4rem 2rem;
    border-radius: 1rem;
  }

 

  .seed-table {
    border-collapse: collapse;
    width: 100%;
  }

  .seed-table td,
  .seed-table th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    background-color: var(--clr-bg-this);
    padding: 2px;
  }
  .product-grid {
    /* min-height: 60vh; */
    display: block;
    /* grid-template-columns: repeat(12, 1fr); */
    /* gap: 1rem; */
  }
  .product-grid img{
    max-height: 50vh;
    /* display: block; */
    /* grid-template-columns: repeat(12, 1fr); */
    /* gap: 1rem; */
  }

  .wrapper .grid_layout .nav__button:not(.hidden) {
    grid-column: 13;
  }

  .seed__detail {
    background-color: #BFD9AE;
    min-height: 30svh;
    margin-top: -8vh;
    border-radius: 10px;
    width: 90%;
    margin-inline: auto;
    display: block;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .seed_detail-info table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .seed_detail-info table th,
  td {

    text-align: left;
    padding: 8px;
  }

  .font-semibold {
    font-weight: bold;
  }

  .w-8 {
    width: 8%;
  }

  .w-10-6 {
    width: 10.6%;
  }

  .w-5 {
    width: 5%;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .hero .hero__content {
    grid-column: 1/6;
    color: white;

  }

  .hero .hero__notice {
    grid-column: 8/13;
    background-image: url('../images/Rectangle\ 4-2.png');

  }

  .wrapper .grid_layout .nav__links {
    grid-template-columns: 3/10;
  }



  .left .post_image {
    /* background: var(--clr-bg-this) ; */
    display: block;
  }
}


@media screen and (max-width:815px) {
  .marktetplace .marketplace__grid {
    margin-block: 1rem;
    display: grid;
    gap: 1rem;
    /* margin: 1rem; */
    /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
    /* grid-template-columns: minmax(15rem, 1fr) minmax(15rem, 1fr) minmax(15rem, 1fr) minmax(15rem, 1fr) ; */
  grid-template-columns: repeat(2, 1fr);
  
  }

  .seed__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .seed__grid a div {
    text-decoration: none;
    color: black;
    min-width: 160px;
    min-height: 50px;
     /* 2px solid red; */

  }
  
  .seed__detail-card {
    margin-block: 1rem;
  }

  .seed__detail .seed_detail-info {
    margin-block: 1re;
    margin-inline: 1re;
  }
}


@media screen and (max-width:768px) {
  .product-grid {
    /* min-height: 60vh; */
    display: block;
    /* grid-template-columns: repeat(12, 1fr); */
    /* gap: 1rem; */
  }
  .seed__grid a div {
    text-decoration: none;
    color: black;
    min-width: 160px;
    min-height: 50px;
     /* 2px solid red; */

  }
  .marktetplace .marketplace__grid >*{
    width: 14rem;  
  }
  
  .seed__detail-card {
    margin-block: 1rem;
  }

  .seed__detail .seed_detail-info {
    margin-block: 1re;
    margin-inline: 1re;
  }

  .wrapper .grid_layout .nav__links:not(.hidden) {
    display: none;
  }

  footer .footer-content .footer-section {
    flex: 1 1 100%;
  }


  .wrapper .grid_layout .nav__button {
    display: none;
  }

  .wrapper .grid_layout .nav__links-mobl:not(.hidden) {
    display: grid;
    /* border: 3px solid red; */
    z-index: 999;
  }
  
  .cross {
    display: block;
    grid-column: 11/12;
  }
  /* .marketplace__grid {
    border: 1px solid red;
  } */

  .hero .hero__notice {
    grid-column: 9/13;
    color: white;
    border: none;
    padding: 5px;
    width: clamp(100%, 80%, 60%);
    min-height: 12rem;
    object-fit: unset;
    background-image: url('../images/Rectangle\ 4-3.png');
    border-radius: 5%;
  }

  .hero {
    display: flex;
    flex-direction: column;
    margin-block: 1.5rem;
    padding: 1rem;
    align-content: center;
    justify-self: center;
  }

  .hero>div {
    margin-block: 1.5rem;
    margin-inline: auto;
    text-align: center;

  }

  .seed-table {
    border-collapse: collapse;
    width: 100%;
  }

  .seed-table td,
  .seed-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
  }

  .seed-table th {
    background-color: #f2f2f2;
  }

}
@media screen and (max-width:560px) {
  .marktetplace .marketplace__grid {
    display: grid;
    gap: 1rem;
    margin-block: 1rem;
    justify-content: center;
    align-items: center;
    /* margin: 1rem; */
    /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
    /* grid-template-columns: minmax(15rem, 1fr) minmax(15rem, 1fr) minmax(15rem, 1fr) minmax(15rem, 1fr) ; */
  grid-template-columns: repeat(1, 1fr);
  
  }
  .seed__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .marktetplace .marketplace__grid >*{
    width: 25rem;  
  }
  
}